AI_Powered_Component_Matching.json
{
  "name": "Automate Product Training & Customer Support via WhatsApp, GPT-4 & Google Sheets",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "d3dfa439-4056-4ce9-b874-100500967de6",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        620,
        1360
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "7iEJf6mQ5q1ELKNT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10ZpKLtmwUkBCfny8gAvjoibNRbYqwCvHXwoMUvfCYNU",
          "mode": "list",
          "cachedResultName": "products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10ZpKLtmwUkBCfny8gAvjoibNRbYqwCvHXwoMUvfCYNU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10ZpKLtmwUkBCfny8gAvjoibNRbYqwCvHXwoMUvfCYNU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "component_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('component_type', ``, 'string') }}",
            "key_electrical_specs": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('key_electrical_specs', ``, 'string') }}",
            "Inductance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inductance', ``, 'string') }}",
            "Rated_Current": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Rated_Current', ``, 'string') }}",
            "Case_Code": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Case_Code', ``, 'string') }}",
            "Length": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Length', ``, 'string') }}",
            "Width": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Width', ``, 'string') }}",
            "Height": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Height', ``, 'string') }}",
            "Tolerance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tolerance', ``, 'string') }}",
            "Shielding": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shielding', ``, 'string') }}",
            "DC_Resistance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DC_Resistance', ``, 'string') }}",
            "Minimum_Operating_Temperature": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Minimum_Operating_Temperature', ``, 'string') }}",
            "Maximum_Operating_Temperature": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Maximum_Operating_Temperature', ``, 'string') }}",
            "manufacturer_part_number__using_to_match_": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('manufacturer_part_number__using_to_match_', ``, 'string') }}",
            "manufacturer_": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('manufacturer_', ``, 'string') }}",
            "Link": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Link', ``, 'string') }}"
          },
          "matchingColumns": [
            "manufacturer_part_number__using_to_match_"
          ],
          "schema": [
            {
              "id": "manufacturer_part_number__using_to_match_",
              "displayName": "manufacturer_part_number__using_to_match_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "manufacturer_",
              "displayName": "manufacturer_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "component_type",
              "displayName": "component_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_electrical_specs",
              "displayName": "key_electrical_specs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inductance",
              "displayName": "Inductance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rated_Current",
              "displayName": "Rated_Current",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Case_Code",
              "displayName": "Case_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Length",
              "displayName": "Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Width",
              "displayName": "Width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Height",
              "displayName": "Height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tolerance",
              "displayName": "Tolerance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shielding",
              "displayName": "Shielding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DC_Resistance",
              "displayName": "DC_Resistance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Minimum_Operating_Temperature",
              "displayName": "Minimum_Operating_Temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maximum_Operating_Temperature",
              "displayName": "Maximum_Operating_Temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "58ce0f46-fabc-4b6e-97d7-857dc6f1e568",
      "name": "Update Product Sheet",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        780,
        1360
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D8Wu2cczzjgeJTqc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -40,
        1060
      ],
      "id": "6b2ce4eb-d757-4a5d-94f0-0dbe09fa493d",
      "name": "Telegram Trigger",
      "webhookId": "aa99c0b4-c55b-4417-832d-38d6af0f2cfa",
      "credentials": {
        "telegramApi": {
          "id": "dcVf0b1OpzUjXwrN",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        1280
      ],
      "id": "2a438893-4707-4362-b942-9d1b8632d24d",
      "name": "Telegram",
      "webhookId": "407ebf14-921e-4d01-a047-8ff9d0a47e5c",
      "credentials": {
        "telegramApi": {
          "id": "dcVf0b1OpzUjXwrN",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find the official specifications for the following part number using trusted sources (manufacturer websites, Digi-Key, Mouser, Octopart).\n\nPart Number: {{ $json.message.text }}\n\nOnce extracted:\n- If the part is not in the sheet → create a new row.\n- If the part exists → update only the missing or outdated columns with the new information.\n\nUse precise values and correct units. Leave blank any field that isn’t available.\n",
        "options": {
          "systemMessage": "You are a precise assistant that retrieves official electronic component specifications and datasheet links based on a part number. You have access to Google Sheets and must update the sheet accordingly.\n\nFirst you can check in the google sheet which have access to if you can find the relevant information use that.\n\nYour tasks:\n1. Take a part number as input.\n2. Search reliable sources online (e.g., manufacturer websites, Digi-Key, Mouser, Octopart, RS Components).\n3. Extract key specifications, **including the official datasheet URL**.\n4. Match each specification and link to the closest column name in the connected spreadsheet.\n5. If the part number is already in the sheet, update only the relevant columns (e.g., Capacitance, Voltage_Rating, Datasheet_Link, etc.).\n6. If the part is not in the sheet, create a new row and populate the matching columns.\n7. Leave any fields empty if the data is not found or uncertain.\n\nReturn the result as a structured key-value object (dictionary) for direct use with Google Sheets. Do not explain or comment.\n\n**Important:**\n- Only include official datasheet links (from manufacturer or authorized distributors).\n- Always include units (e.g., \"10 µF\", \"50 V\", \"±10%\").\n- Do not guess or infer values.\n- Match your field names to the following columns if they exist in the sheet:\n\nExample Column Names:\n- Manufacturer\n- Manufacturer_Part_Number\n- Component_Type\n- Capacitance\n- Voltage_Rating\n- Tolerance\n- Datasheet_Link\n- Mounting_Type\n- Technology\n- Compliance\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        640,
        1060
      ],
      "id": "62049d58-a45c-40c6-b115-9ddda8c9e112",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        920,
        1360
      ],
      "id": "4ce7e43b-88bd-4af5-b2db-350c7c381031",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "g1sna60l6C4Mr1QI",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "name": "Web Search",
        "instructions": "=You have to looking in to the {{ $json.output }} for the specification and find the closest product match for wurth company product. \n\nAnd get all the specification form thier datasheet. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        1280
      ],
      "id": "6f37ee3d-a609-46f5-8493-edfec00995be",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7iEJf6mQ5q1ELKNT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find a Würth Elektronik component that closely matches the following competitor specifications:\n\n {{ $json.instructions }}\n\nReturn the best matching Würth part with full specs and datasheet link.\n",
        "options": {
          "systemMessage": "You are a precise component-matching assistant. Your task is to find the closest matching Würth Elektronik product that can replace a competitor’s part, based on provided specifications.\n\nYou must:\n1. First check the Google Sheet** to see if a compatible Würth component is already listed. Match by key specs such as Capacitance, Voltage Rating, Tolerance, Mounting Type, and Package Size.\n2. Use the given specifications as hard constraints (e.g., Capacitance, Voltage Rating, Tolerance, Mounting Type, Package/Size).\n3. Search only trusted Würth sources (official Würth Elektronik site, Digi-Key, Mouser, etc.).\n4. Identify the most similar Würth Elektronik component that meets or exceeds the specs.\n5. Return your result as structured key-value output, including:\n\n- Replacement_Part_Number\n- Datasheet_Link\n- Matched_Capacitance\n- Matched_Voltage_Rating\n- Matched_Tolerance\n- Mounting_Type (if relevant)\n- Package/Size (if relevant)\n- Additional_Info (if relevant)\n\nNever suggest parts from other brands. Only return Würth Elektronik components. Only suggest parts if the match is close. If no part is available, return no values available. \n\nOnce you have it formulate nice message for our user to recommend this product as alternative.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1340,
        1280
      ],
      "id": "4fa856a5-4122-4cee-afbd-38ddd6af727f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1300,
        1540
      ],
      "id": "fd41a8b1-b335-407e-af87-2b0ab59f2d59",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7iEJf6mQ5q1ELKNT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1580,
        1580
      ],
      "id": "ec20e409-e1da-411e-a55f-4a03c8676972",
      "name": "SerpAPI1",
      "credentials": {
        "serpApi": {
          "id": "g1sna60l6C4Mr1QI",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10ZpKLtmwUkBCfny8gAvjoibNRbYqwCvHXwoMUvfCYNU",
          "mode": "list",
          "cachedResultName": "products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10ZpKLtmwUkBCfny8gAvjoibNRbYqwCvHXwoMUvfCYNU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10ZpKLtmwUkBCfny8gAvjoibNRbYqwCvHXwoMUvfCYNU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "component_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('component_type', ``, 'string') }}",
            "key_electrical_specs": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('key_electrical_specs', ``, 'string') }}",
            "Inductance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inductance', ``, 'string') }}",
            "Rated_Current": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Rated_Current', ``, 'string') }}",
            "Case_Code": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Case_Code', ``, 'string') }}",
            "Length": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Length', ``, 'string') }}",
            "Width": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Width', ``, 'string') }}",
            "Height": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Height', ``, 'string') }}",
            "Tolerance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tolerance', ``, 'string') }}",
            "Shielding": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shielding', ``, 'string') }}",
            "DC_Resistance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DC_Resistance', ``, 'string') }}",
            "Minimum_Operating_Temperature": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Minimum_Operating_Temperature', ``, 'string') }}",
            "Maximum_Operating_Temperature": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Maximum_Operating_Temperature', ``, 'string') }}",
            "manufacturer_part_number__using_to_match_": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('manufacturer_part_number__using_to_match_', ``, 'string') }}",
            "manufacturer_": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('manufacturer_', ``, 'string') }}",
            "Link": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Link', ``, 'string') }}"
          },
          "matchingColumns": [
            "manufacturer_part_number__using_to_match_"
          ],
          "schema": [
            {
              "id": "manufacturer_part_number__using_to_match_",
              "displayName": "manufacturer_part_number__using_to_match_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "manufacturer_",
              "displayName": "manufacturer_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "component_type",
              "displayName": "component_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_electrical_specs",
              "displayName": "key_electrical_specs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inductance",
              "displayName": "Inductance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rated_Current",
              "displayName": "Rated_Current",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Case_Code",
              "displayName": "Case_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Length",
              "displayName": "Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Width",
              "displayName": "Width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Height",
              "displayName": "Height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tolerance",
              "displayName": "Tolerance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shielding",
              "displayName": "Shielding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DC_Resistance",
              "displayName": "DC_Resistance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Minimum_Operating_Temperature",
              "displayName": "Minimum_Operating_Temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maximum_Operating_Temperature",
              "displayName": "Maximum_Operating_Temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4b02ba2c-8b01-43a2-bcc4-58e083af1f4e",
      "name": "Update Product Sheet1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1680,
        1540
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D8Wu2cczzjgeJTqc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "="
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1480,
        1580
      ],
      "id": "974abbc7-15f4-4257-be0c-7acc961db382",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "73ba9647-f906-4d58-a044-cbdc10f42357"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f3c28ae-3ae2-4a8c-b0c7-896b819164af",
                    "leftValue": "={{ $json.message.voice.file_unique_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        1080
      ],
      "id": "bf60dd75-fb74-4b64-acd7-8bffaf0150cf",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        1300
      ],
      "id": "2131b0d2-7ebc-49a7-ad3f-da7a1fff6c81",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "7iEJf6mQ5q1ELKNT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        280,
        1300
      ],
      "id": "96d5981d-e117-4adf-b2e5-e2b8b811099a",
      "name": "Telegram1",
      "webhookId": "77c5d66b-28cf-4c30-8609-512946176b37",
      "credentials": {
        "telegramApi": {
          "id": "dcVf0b1OpzUjXwrN",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Product Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product Sheet1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a20d476a-3356-4747-b044-9637248fb4ad",
  "meta": {
    "templateId": "3379",
    "templateCredsSetupCompleted": true,
    "instanceId": "aaa45eace4fe9887d444a4034d94d7b895953e696632677e0ffcdf595c903722"
  },
  "id": "ej7qhRw53bG5Qdik",
  "tags": []
}